<%= provide(:title, 'Home') %>
  <div class="row">
    <div class="span5 offset3">
    <%= form_for :word, :url => words_path,
                        :html => { :class => "form-inline" } do |f| %>
      <div class="row">
        <div class="span2">
          <%= f.text_field :word, :placeholder => "Enter a word..." %>
        </div>
        <div class="span1 offset1">
        <%= f.submit "Search", :class => "btn btn-primary submit" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br/>
<center><h3>Trending Words</h3></center>
<br/>
<%= render :partial => 'shared/table', 
           :locals => { :entities => @words,
                        :measurements => Measurement.measurement_words,
                        :name => "Word",
                        :sort => nil } %>
<%= link_to "More words...", :controller => "words" %>
<center><h3>Trending Websites</h3></center>
<br/>
<%= render :partial => 'shared/table',
           :locals => { :entities => @sites,
                        :measurements => Measurement.measurement_sites,
                        :name => "Site",
                        :sort => nil } %>
<%= link_to "More sites...", :controller => "sites" %>
