<%= provide(:title, mtype.capitalize + ' - ' + entity.name) %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "chart"
      },
      title: {
        text: "Rating by Day"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Rating"
        },  
        min: 1
      },
      series: [
        <% Measurement.find_all_by_mtype(mtype).each do |measurement| %>
      {
        name: "<%= measurement.name %>",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 1.month.ago.at_midnight.to_i * 1000 %>,
        data: <%= (1.month.ago.to_date..Date.today).map { |date| 
          point = entity.measurement_values.find_by_measurement_id_and_collected_at(measurement.id, date.at_midnight)
          point.nil? ? 0 : point.value }
        %>
      },
      <% end %>]
    });
  });
</script>

<h2><%= mtype == 'word' ? (link_to entity.name, "http://www.google.ru/search?q=\"" +  CGI.escape(entity.name) + "\"", :target => "_blank") : (link_to entity.name, "http://" + entity.name, :target => "_blank") %></h2>
<br/>

<div class="row-fluid">
  <div class="span10" id="chart">
  </div>
  <div class="span2">
    <% Measurement.find_all_by_mtype(mtype).each do |measurement| %>
      <div class="row-fluid">
        <div class="span12">
          <b><%= measurement.name %>:</b> 
             <% m = entity.measurement_values.latest.find_by_measurement_id(measurement) %>
               <% if m.nil? %>
                 -
               <% else %> 
                 <%= link_to number_to_human(m.value, :units => :rating),
                       measurement.url + CGI.escape(entity.name), :target => "_blank" %>
               <% end %>
        </div>
      </div>
    <% end %>
    <br/>
    <div class="row-fluid">
      <div class="span12">
        <div class="fb-like" data-href="http://global-trend-finder.com/<%= mtype + "s/" + CGI.escape(entity.name) %>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true" data-font="arial"></div>
      </div>
    </div>
  </div>
</div>
