<%= provide(:title, 'Words') %>
<%= render 'shared/search' %>
<br/>
<h2>Trending Words</h2>
<br/>

<%= will_paginate @words %>

<%= render :partial => 'shared/table',
           :locals => { :entities => @words,
                        :measurements => Measurement.measurement_words,
                        :name => "Word",
                        :sort => 1 } %>

<%= will_paginate @words %>
