<%= provide(:title, 'Sites') %>
<%= render 'shared/search' %>
<br/>
<h2>Trending Websites</h2>
<br/>

<%= will_paginate @sites %>

<%= render :partial => 'shared/table',
           :locals => { :entities => @sites,
                        :measurements => Measurement.measurement_sites,
                        :name => "Site",
                        :sort => 1 } %>

<%= will_paginate @sites %>
