<!DOCTYPE html>
<html>
<head>
  <title>Global Trend Finder - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "highcharts/highcharts" %>
  <%= javascript_include_tag "application", "fb-sdk" %>
  <%= javascript_include_tag "application", "ga" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="fb-root"></div> 
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Global Trend Finder", root_path, class: "brand" %>
        <nav>
          <ul class="nav pull-left">
            <li<%= current_page?(root_path) ? " class='active'" : nil %>><%= link_to "Home", root_path %></li>
            <li<%= current_page?(words_path) ? " class='active'" : nil %>><%= link_to "Words", words_path %></li>
            <li<%= current_page?(sites_path) ? " class='active'" : nil %>><%= link_to "Sites", sites_path %></li>
            <li class="divider-vertical"></li>
            <%= form_for :search, :url => search_path,
                         :html => { :class => "navbar-search pull-left" } do |f| %>
              <%= f.text_field :query, :placeholder => "Search", :class => "search-query" %>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#"
                class="dropdown-toggle"
                data-toggle="dropdown">
                Social
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="socials">
                  <div class="fb-like" data-href="http://global-trend-finder.com" data-send="false" data-width="150" data-show-faces="true" data-font="arial"></div>
                </li>
                <li class="socials">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://global-trend-finder.com" data-text="Fun Google Autocomplete Queries" data-hashtags="globaltf,google">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="hero-unit">
      <% if @error %>
        <div class="alert alert-error">
          <%= @error %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <!-- TOFIX: center footer alignment -->
  <footer>
    <div class="container">
      <ul class="nav nav-pills">
        <li<%= current_page?(about_path) ? " class='active'" : nil %>><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", "http://vasil-y.com", :target => "_blank" %></li>
      </ul>
    </div>
  </footer>
</body>
</html>
